// Import regular css //
@import "vendor.css";

body, html {
  margin: 0;
  -webkit-app-region: no-drag;

  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  -webkit-font-smoothing:antialiased;
  font-family: 'Roboto', sans-serif;

  /*fancy scroll bar. by fancy I mean none. */
    ::-webkit-scrollbar {
        display: none;
    }
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  height: 32px;
  background-color: #3e313c;
  -webkit-app-region: drag;

  .titleText {
    font-family: 'Segoe UI';
    color: #fff;
    flex-grow: 2;
    margin: 7px;
    height: 32px;
  }
  .items {
    flex-grow: 2;
    flex-basis: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    align-content: flex-start;
    max-width: 110px;

    .item {
      -webkit-app-region: no-drag;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      max-width: 34px;
      text-align: center;
      color: #a494a2;
      flex-grow: 1;
      height: 32px;
      i {
        font-size: 20px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
    }

    .item:hover {
      color: #fff;
      background-color: #3e313c;
    }

    .item:active {
      background-color: #4c9689;
    }
  }
}

.login {
  padding: 5px;
  img {
    vertical-align: middle;
    margin-bottom: 25px;
    width: 180px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  ul {
    list-style: none;
    display: block;
    padding: 2px;
    li {
      margin-top: 15px;
      input {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 240px;
      }
    }
  }
}
