// Import regular css //
@import "vendor.css";

body, html {
  margin: 0;
  padding: 10px 0 0;

  position:absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  -webkit-font-smoothing:antialiased;
  font-family: 'Roboto', sans-serif;

  /*fancy scroll bar. by fancy I mean none. */
    ::-webkit-scrollbar {
        display: none;
    }
}

.login {
  padding: 5px;
  .img {
    vertical-align: middle;
    margin-bottom: 20px;
  }

  .ul {
    list-style: none;
    display: block;
    padding: 2px;

    .li {
      margin-top: 5px;
    }
  }
}